#container {
    height: 1000px;
   
}

#buttons{
   
    height: 100px;
}

.gif-div{
    float: left;
}
.diplayGif{
   margin-left:2px;
}
.still{
    margin-left: 2px;
}

@media screen and (max-width: 579px){

#container {
    height: 1800px;
    
}

}
